{% extends 'interface/base.html' %} 
{% load static %}
{% block content %}         
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<section id = "file_input">
    <div class="wrapper">
        <header>Télécharger vos fichiers ici</header>
        <form id="myform" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" class="file-input" name="myfile" hidden>
            <img src="{% static 'interface/download.gif' %}" alt="download" />
            <p>Parcourir les fichiers locaux</p>
        </form>
        <section class="progress-area">
            <li class="row">         
                <img src="{% static 'interface/csv.png' %}" alt="csv" />
                <div class="content">
                    <div class="details">
                        <span class="name" id="filename"></span>
                        <span class="percent" id = "percent"></span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress"></div>
                    </div>
                </div>
            </li>
        </section>
        <section class="uploaded-area">
            <li class="row">
                <div class="content">
                    <img src="{% static 'interface/csv.png' %}" alt="csv" />
                    <div class="details">
                        <span class="name">01.csv - terminé</span>
                        <span class="size">70 KB</span>
                    </div>
                </div>
                <img src="{% static 'interface/check.png' %}" alt="csv" />
            </li>
            <li class="row">
                <div class="content">
                    <img src="{% static 'interface/csv.png' %}" alt="csv" />
                    <div class="details">
                        <span class="name">04.csv - terminé</span>
                        <span class="size">70 KB</span>
                    </div>
                </div>
                <img src="{% static 'interface/check.png' %}" alt="csv" />
            </li>
            <li class="row">
                <div class="content">
                    <img src="{% static 'interface/csv.png' %}" alt="csv" />
                    <div class="details">
                        <span class="name">04.csv - terminé</span>
                        <span class="size">70 KB</span>
                    </div>
                </div>
                <img src="{% static 'interface/check.png' %}" alt="csv" />
            </li>
            <li class="row">
                <div class="content">
                    <img src="{% static 'interface/csv.png' %}" alt="csv" />
                    <div class="details">
                        <span class="name">04.csv - terminé</span>
                        <span class="size">70 KB</span>
                    </div>
                </div>
                <img src="{% static 'interface/check.png' %}" alt="csv" />
            </li>
            <li class="row">
                <div class="content">
                    <img src="{% static 'interface/csv.png' %}" alt="csv" />
                    <div class="details">
                        <span class="name">04.csv - terminé</span>
                        <span class="size">70 KB</span>
                    </div>
                </div>
                <img src="{% static 'interface/check.png' %}" alt="csv" />
            </li>
        </section>
    </div>
</section>
<script src="{% static 'interface/script.js' %}" type="text/javascript"></script>
{% endblock %}