{% extends 'interface/base.html' %} 
{% load static %}
{% block content %}         
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<section id = "file_input">
    <div class="helper">
        On this page, you have the possibility to upload your signals files as <code>csv</code>.<br>
        The <code>json</code> file upload is optional, but if you do so, you have to give a specific name for the file.
        The <code>json</code> file containing the labels for the signal <code>x.csv</code> must be named <code>x.json</code>.
        <a href="{% url 'interface:aide' %}" target="_blank">Click here to get more informations.</a>
    </div>
    <div class="wrapper">
        <form id="myform" method="post" enctype="multipart/form-data">
            <header>Upload your signals</header>
            {% csrf_token %}
            <input type="file" class="file-input" name="myfile" hidden multiple accept=".csv,.json">
            <img src="{% static 'interface/img/download.gif' %}" alt="download" />
        </form>
        <section class="file">
        <section class="progress-area"></section>
        <section class="uploaded-area"></section>
    </div>
</section>
<section id="button">
    <a href="{% url 'interface:label' %}" class="done"><div class ="label_button" id="non_labelise">Go to the next step</div></a>
</section>
<script src="{% static 'interface/js/script.js' %}" type="module" ></script>
{% endblock %}