body{
    background-color: aqua;
}

/* .loading{
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    display : flex;
    align-items: center;
}

.obj{
    width: 6px;
    height: 40px;
    background: white;
    margin : 0 3px;
    border-radius: 10px;
    animation : loading 0.8s infinite;
}

@keyframes loading{
    0%{
        height: 0;
    }
    50%{
        height: 40px;
    }
    100%{
        height: 0;
    }
} */

#content{
    display:none;
}

.box{
    width : 200px;
    height : 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.box .b{
    border-radius: 50%;
    border-left : 4px solid ;
    border-right : 4px solid;
    border-top : 4px solid transparent !important;
    border-bottom : 4px solid transparent !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation : ro 2s infinite;
}

.box .b1{
    border-color : red;
    width: 120px;
    height: 120px;
}

.box .b2{
    border-color : orange;
    width: 100px;
    height: 100px;
    animation-delay: 0.2s;

}

@keyframes ro {
    0%{
        transform : translate(-50%,-50%) rotate(0deg);
    }
    50%{
        transform : translate(-50%,-50%) rotate(-180deg);
    }
    100%{
        transform : translate(-50%,-50%) rotate(0deg);
    }
}