body{
    font-family: 'Roboto', sans-serif;
    font : roboto;
}

a{
    text-decoration: none;
}
#file_input{
    display:flex;
    align-items:center;
    justify-content:center;
}
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border : 5px solid;
    border-radius : 25px;
    margin-top: 28px;
    padding : 10px;
    height :700px;
    width : 1000px;
}

.wrapper_predict {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border : 5px solid;
    border-radius : 25px;
    margin-top: 28px;
    padding : 10px;
    height: 300px;
    width : 310px;
}

.file{
    margin-top: 130px;
}
.wrapper form {
    border : 2px dashed ;
    border-radius : 25px;
    padding : 10px;
    margin-left: 55px;
    margin-bottom: 110px;
    margin-top:130px;
    display : flex;
    cursor : pointer;
    align-items : center;
    justify-content : center;
    flex-direction : column;
    height: 462px;
    width : 454px;
}


.wrapper_predict form {
    border : 2px dashed ;
    border-radius : 25px;
    padding : 10px;
    margin-left: 5px;
    margin-bottom: 110px;
    margin-top:40px;
    display : flex;
    cursor : pointer;
    align-items : center;
    justify-content : center;
    flex-direction : column;
    height: 182px;
    width : 272px;
}

section .row{
    background : hsl(273, 30%, 47%); 
    width : 325px;
    height : 70px;
    margin-left: 131px;
    margin-bottom :10px;
    border-radius: 15px;
    padding : 10px;
    list-style: none;
    display :flex;
    align-items : center;
    justify-content :space-between;

}

/* .progress-area{
    display :none;
} */

.progress-area .row .content {
    width : 100%;
    margin-left: 15px;
}


.progress-area .details {
    display : flex;
    align-items : center;
    justify-content : space-between;
    
}

.progress-bar {
    height : 6px;
    width : 100%;
    background : white;
    margin-top: 7px;
    border-radius: 30px;
}

.progress-bar .progress{
    height: 100%;
    width: 30%;
    background : rgb(66, 8, 160);
}

.uploaded-area{
    max-height:450px;
    overflow:scroll;
}

.uploaded-area::-webkit-scrollbar{
    width: 0px;
}

.uploaded-area .row .details {
    display : flex;
    flex-direction: column;
}

.uploaded-area .row .content{
    display : flex;
    align-items : center;
    
}

.uploaded-area .details .size{
    font-size: 12px;
}


#navbar{
    background: linear-gradient( to right, rgb(68, 78, 155), rgb(231, 80, 58) );
    display: flex;
    width: 100%;
    height: 145px;
    left: 0px;
    top: 0px;
    right: 0px;
}

h1{
    position:relative;
}

#borelli{
    width: 145px;
    height:69px;
    position: relative;
    z-index: 2;
    margin-top:39px;
}

#ENS{
    width: 343px;
    height: 81px;
    position: relative;
    z-index: 1;
    left: -56px;
    margin-top:39px;
}

.log{
    position : fixed;
    right: 23px;
    font-size : 29px;
    color: white;
    justify-content: flex-end;
    margin-top: 56px;
}

.file-container{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content:center;
    align-items:center;
}
.filename{
    cursor: pointer;
    display :flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 50px;
    width: 230px;
    background-color:#444E9B;
    margin : 10px;
    padding: 10px;
    border-radius: 30px;
    color: white;
}

#xcoords{
    max-height:470px;
    overflow:scroll;

}

.label_coordinate{
    background-color:#444E9B;
    width: 165px;
    height: 40px;
    color: white;
    display : flex;
    justify-content:center;
    align-items:center;
    margin : 10px;
    padding: 10px;
    border-radius: 30px;
    margin-left: 183px;
    cursor: pointer;
}

.label{
    display : grid;
    grid-template-columns: auto auto;
    padding-top : 170px;
}

.choosed{
    border : 5px solid rgb(255, 108, 87);
    border-radius: 30px;
}

.done{
    pointer-events: none;
}

.files{
    display :grid;
    grid-template-columns: auto auto;
}

.validation{
    background: linear-gradient(93.03deg, #FFCC2F 17.08%, #FF6C57 52.57%);
    display :flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 50px;
    width: 230px;
    background-color:#444E9B;
    margin : 10px;
    padding: 10px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

.label_button{
    background: linear-gradient(93.03deg, #FFCC2F 17.08%, #FF6C57 52.57%);
    display :flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 50px;
    width: 230px;
    background-color:#444E9B;
    margin : 10px;
    margin-top : 40px;
    padding: 10px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    border: none;
}

.label_button:visited {
    text-decoration: none;
  }

#button{
    display : grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.box{
    width : 200px;
    height : 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.box .b{
    border-radius: 50%;
    border-left : 4px solid ;
    border-right : 4px solid;
    border-top : 4px solid transparent !important;
    border-bottom : 4px solid transparent !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation : ro 2s infinite;
}

.box .b1{
    border-color : #444E9B;
    width: 120px;
    height: 120px;
}

.box .b2{
    border-color : rgb(231, 80, 58);
    width: 100px;
    height: 100px;
    animation-delay: 0.2s;
    animation-direction: reverse;

}

@keyframes ro {
    0%{
        transform : translate(-50%,-50%) rotate(0deg);
    }
    50%{
        transform : translate(-50%,-50%) rotate(-180deg);
    }
    100%{
        transform : translate(-50%,-50%) rotate(0deg);
    }
}

#content{
    display:none;
    margin-top : 54px;
}
#affiche{
    font-size:16px;
}

.title{
    width:408px;
    border-bottom: 2px solid black;
    margin-left : 36px;
    margin-top:54px;
}

#predict_wrapper{
    display : grid;
    grid-template-columns: auto auto;
}

#penalite{
    display:grid;
    grid-template-columns: auto auto;
    width : 568px;
}

.pen_value{
    display :flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 230px;
    background-color:#444E9B;
    margin : 10px;
    padding: 10px;
    margin-top : 35px;
    margin-left:36px;
    border-radius: 30px;
    color: white;
}

.predict_grid{
    display : grid;
    align-items: center;
    justify-content: center;
}

#prediction{
    margin-left: 42px;
}

#result{
    display : grid;
    grid-template-columns: auto auto auto;
}

#label_predict{
    padding-top:40px;
}